{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
    {{ form_start(form, {'attr':{'class':'col-3'}, 'action':path('get_airports_page')} ) }}
        {{ form_row(form.toAirport, {'attr':{'class':'selectpicker','data-live-search':'true'}}) }}
        {{ form_row(form.fromAirport, {'attr':{'class':'selectpicker','data-live-search':'true'}}) }}
        {{ form_row(form.dateTrip) }}
        <button type="button" class="btn btn-outline-secondary search">search</button>
    {{ form_end(form) }}
    </div>
</div>

<div class="container">
    <table id="flyTable" class="table" style="display: none">
        <thead>
            <tr>
                <th scope="col">Duration(min)</th>
                <th scope="col">Сarrier</th>
                <th scope="col">Fly number</th>
                <th scope="col">Departure time</th>
                <th scope="col">Arrival time</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}
